<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>柴柴 - 圖書資訊系統</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--加上以下的引用-->
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/kendo.all.min.js"></script>
    <script type="text/javascript" src="~/Scripts/uikit.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ViewControl.js"></script>

    <link rel="stylesheet" href="~/Content/kendo.common-material.min.css" />
    <link rel="stylesheet" href="~/Content/kendo.material-main.min.css" />
    <link rel="stylesheet" href="~/Content/uikit.min.css" />
    <link rel="stylesheet" href="~/Content/ViewStyle.css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--功能模組可以用Area把它們分離開來-->
                @Html.ActionLink("圖書資訊系統", "AddBook", "BookData", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 圖書資訊系統</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
